body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  overflow:hidden;
  touch-action:none;
}
#u295_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u295_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
.u298 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
.u299 {
  position:absolute;
  left:0px;
  top:69px;
  width:375px;
  height:1px;
}
.u300 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
.u301 {
  position:absolute;
  left:18px;
  top:46px;
  width:20px;
  height:17px;
}
.u302 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u303 {
  position:absolute;
  left:73px;
  top:47px;
  width:53px;
  height:16px;
  font-size:13px;
}
.u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
.u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u305 {
  position:absolute;
  left:18px;
  top:10px;
  width:326px;
  height:33px;
  font-size:12px;
}
.u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
.u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u307 {
  position:absolute;
  left:268px;
  top:48px;
  width:49px;
  height:15px;
  font-size:12px;
}
.u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u296-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
#u296-2 {
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:70px;
}
#u296-3 {
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:70px;
}
#u296-4 {
  position:absolute;
  left:0px;
  top:210px;
  width:375px;
  height:70px;
}
#u296-5 {
  position:absolute;
  left:0px;
  top:280px;
  width:375px;
  height:70px;
}
#u296-6 {
  position:absolute;
  left:0px;
  top:350px;
  width:375px;
  height:70px;
}
#u296-7 {
  position:absolute;
  left:0px;
  top:420px;
  width:375px;
  height:70px;
}
#u296-8 {
  position:absolute;
  left:0px;
  top:490px;
  width:375px;
  height:70px;
}
#u296-9 {
  position:absolute;
  left:0px;
  top:560px;
  width:375px;
  height:70px;
}
#u296-10 {
  position:absolute;
  left:0px;
  top:630px;
  width:375px;
  height:70px;
}
#u296-11 {
  position:absolute;
  left:0px;
  top:700px;
  width:375px;
  height:70px;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
